body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/one.jpg"); /* Pixel art bir arka plan ekle */
    background-size: cover;
}

#player {
    position: absolute;
    width: 320px;
    height: 320px;
    background-image: url("./images/pixil-main.png"); /* Karakterin pixel art görseli */
    background-size: cover;
    bottom: 10px;
    left: 350px;
}

#rain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}
.raindrop {
    position: absolute;
    top: -10px;
    width: 3px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    animation: rain-fall linear infinite;
}

@keyframes rain-fall {
    to {
        transform: translateY(100vh);
    }
}

.music-player {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 200px;
    height: 300px;
    background-image: url("./images/player-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 20px 20px 30px 20px; /* alt boşluğu artırdık */
    box-shadow: 0 0 10px #000;
    text-align: center;
    color: #fff;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* elemanları dikeyde aralıklı yay */
}

.music-player .cover img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.controls {
    margin-top: auto;
    margin-bottom: 10px;
}

.cover-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.cover-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.control-button {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.control-button:hover {
    transform: scale(1.1);
}

.progress-container {
    overflow: hidden;
    margin-top: 20px;
    background: #ffffff; /* arka plan rengi */
    height: 10px; /* daha kalın */
    border-radius: 10px;
    overflow: hidden;
}
.info {
    margin-bottom: 20px;
}

.progress {
    background: rgb(77, 255, 0);
    height: 100%;
    width: 0%;
    transition: width 0.3s ease-in-out;
    background: linear-gradient(to right, #e91281, #be11e5); /* geçişli renk */
    border-radius: 10px 0 0 10px; /* sadece sol kenar yuvarlak */
    box-shadow: 0 0 5px rgb(255, 0, 149), 0 0 10px rgb(255, 0, 149);
}
